//////Fonts
@import url('https://use.typekit.net/qlb0eey.css');

//////Bootstrap source
@import "../bootstrap/scss/bootstrap";

//////Bootstrap overrides and extensions
@import 'custom-colors';

//////Custom styles
//defaults
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: freight-sans-pro, arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}
a {
  color: $dark-blue;
}
p {
  font-family: freight-text-pro, georgia, serif;
  font-style: normal;
  font-weight: 300;
}
svg {
  width: 1em;
  margin-top: -.15em;
}

//buttons
.btn-primary {
  background-color: $light-blue;
  color: black;
  border: none;
  &:hover {
    background-color: $dark-blue;
    color: $cool-wash;
  }
}
.btn-secondary {
  background-color: $warm-grey-200;
  color: black;
  border: none;
  &:hover {
    background-color: $warm-grey;
    color: $warm-wash;
  }
}

//alerts
.alert {
  .btn-close {
    float: right;
    margin-top: -.5em;
    margin-right: -.5em;
  }
}
.alert-primary {
  background-color: $cool-wash;
  border-color: $light-blue;
  color: $dark-blue;
  .alert-link {
    color: $dark-blue;
  }
}
.alert-secondary {
  background-color: $warm-wash;
  border-color: $warm-grey-300;
  color: $warm-grey;
  .alert-link {
    color: $warm-grey;
  }
}
.alert-light {
  border-color: $warm-wash;
  color: $warm-grey;
  .alert-link {
    color: $warm-grey;
  }
}
.alert-dark {
  background-color: $warm-grey-900;
  border-color: $warm-grey-500;
  color: $warm-wash;
  .alert-link {
    color: $warm-wash;
  }
}



//header styles
header {
  .arxiv-prenav {
    padding: .3em;
    border-bottom: 2px solid $cornell-red;
    font-size: .85em;
    background-color: $warm-wash;
    p {
      margin-bottom: 0;
    }
  }
  .arxiv-search {
    input {
      border: 1px solid #dcdad5;
      border-right: none;
      margin-right: 0 !important;
      height: 2em;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
      min-width: 20em;
    }
    button.btn {
      border: 1px solid #dcdad5;
      color: $light-blue;
      font-weight: 900;
      background-color: $cool-wash;
      margin-left: 0;
      height: 2em;
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      svg {
        color: $light-blue;
        position: relative;
        top: -4px;
      }
    }
  }

//customize nav
  .arxiv-nav {
    border-bottom: 1px solid #dcdad5;
    font-size: 1em;
    nav {
      padding: 0;
      .navbar-brand {
        margin-top: .5em;
        margin-bottom: .5em;
        .arxiv-logo {
          height: 2.5em;
        }
      }
      .navbar-nav {
        a.nav-link {
          font-size: 1.1em;
          color: black;
          font-family: 'freight-text-pro';
          &:hover {
            color: $dark-blue;
          }
        }
        navbar-toggler {
          svg {
            color: $warm-grey;
          }
        }
      }
      @media (min-width: 992px) {
        .arxiv-navbar-container {
          height: 5em;
          margin-left: 3em;
        }
        .navbar-nav {
          position: relative;
          height: 100%;
          align-items: center;
          .nav-item {
            display: flex;
            align-items: center;
            position: relative;
            height: 100%;
            a.nav-link {
              min-width: 7em;
              position: relative;
              z-index: 2;
              padding: 0;
            }
            .arxiv-nav-link-description {
              display: none;
              border: 1px solid $cornell-red;
              background-color: #fff;
              position: absolute;
              z-index: 1;
              top: -1px;
              left: -1em;
              padding-left: 1em;
              right: 1em;
              padding-right: .5em;
              height: 7em;
              -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
              -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
              box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
              span {
                display: block;
                margin-top: 4.5em;
                font-size: 13px;
                line-height: 13px;
                color: $warm-grey;
              }
            }
            &:hover .arxiv-nav-link-description,
            &:focus .arxiv-nav-link-description,
            &:focus-within .arxiv-nav-link-description {
              display: block;
              cursor: pointer;
            }
            &:hover a.nav-link,
            &:focus a.nav-link,
            &:focus-within a.nav-link {
              color: $dark-blue;
            }
          }/*end nav-item*/
        }/*end navbar-nav*/
        .arxiv-search-links {
          position: absolute;
          right: 2em;
          bottom: .25em;
          font-size: 12px;
        }
      }
      @media (max-width: 767px) {
        .arxiv-nav-link-description {
          display: none;
        }
        .navbar-nav {
          border-bottom: 2px solid $warm-wash;
        }
        .arxiv-search-links {
          text-align: right;
          font-size: .8em;
          margin-bottom: 1em;
        }
      }/*end @media queries for nav*/


    }/*end nav element*/
  }/*end arxiv-nav*/
}/*end header*/

//Grid and layout customizations
.container-wide {
  max-width: 95% !important;
}

//Footer styles
.arxiv-footer {
  border-top: .25em solid $cornell-red;
  background: $warm-wash;
  padding: 1.5em 0;
  ul {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  li {
    background-color: transparent;
    .notification-options {
      font-size: .8em;
    }
  }
  li a {
    text-decoration: none;
  }
  svg {
    fill: $light-warm-grey;
  }
  svg.icon-small {
    width: .5em;
  }
  .arxiv-membership {
    margin-top: 1.5em;
    p {
      font-size: .9em;
    }
    img {
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    .arxiv-membership {
      margin-top: 0;
      padding-left: 3em;
    }
    ul {
      border-bottom-width: 0;
    }
  }
}

//Sticky footer
html, body {
  height: 100%;
}
body {
  background: #ffffff;
  display: flex;
  flex-flow: column;
}
footer {
  margin-top: auto;
  background-color: #222;
}
