[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jsonschema = "*"
pytz = "*"
uwsgi = "*"
"boto3" = "==1.9.108"
wtforms = "*"
bleach = "*"
"flask-s3" = "*"
"backports-datetime-fromisoformat" = "==1.0.0"
retry = "*"
typing-extensions = "*"

[dev-packages]
pydocstyle = "*"
mypy = "==0.720"
pylint = "<2"
"nose2" = "*"
hypothesis = "*"
sphinx = "*"
sphinxcontrib-websupport = "*"
sphinx-autodoc-typehints = "==1.8.0"
astroid = "<2.2"

[pipenv]
allow_prereleases = true
