[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.2"
jsonschema = "*"
pytz = "*"
uwsgi = "*"
"boto3" = "==1.*"
wtforms = "*"
bleach = "*"
"flask-s3" = "*"
retry = "*"
typing-extensions = "*"
semantic-version = "*"
aiohttp = "*"
markupsafe = "*"

[dev-packages]
pydocstyle = "*"
mypy = "*"
pylint = "*"
"nose2" = "*"
hypothesis = "*"
sphinx = "*"
sphinxcontrib-websupport = "*"
sphinx-autodoc-typehints = "*"
mypy-extensions = "*"
click = "*"

[requires]
python_version = "~=3.10"
