[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=1.1"
jsonschema = "*"
pytz = "*"
uwsgi = "*"
"boto3" = "==1.9.108"
wtforms = "*"
bleach = "*"
"flask-s3" = "*"
"backports-datetime-fromisoformat" = "==1.0.0"
retry = "*"
typing-extensions = "*"
semantic-version = "*"
aiohttp = "*"

[dev-packages]
pydocstyle = "*"
mypy = "==0.720"
pylint = "<2"
"nose2" = "*"
hypothesis = "*"
sphinx = "*"
sphinxcontrib-websupport = "*"
sphinx-autodoc-typehints = "==1.8.0"
astroid = "<2.2"
mypy-extensions = "==0.4.2"
click = "*"

[pipenv]
allow_prereleases = true
