[tool.poetry]
name = "arxiv-base"
version = "1.0.0a3"
description = "Common code for arXiv NG"
authors = ["arxiv.org"]
packages = [
   { include = "arxiv" }
   ]
include = [
   "arxiv/base/static/*",
   "arxiv/base/templates/*",
   "arxiv/mail/templates/*"
]
   
[tool.poetry.dependencies]
python = "^3.10"
flask = "~=2.2"
pytz = "*"
boto3 = "==1.*"
wtforms = "*"
bleach = "*"
flask-s3 = "*"
retry = "*"
typing-extensions = "*"
semantic-version = "*"
markupsafe = "*"

[tool.poetry.dev-dependencies]
pydocstyle = "*"
mypy = "*"
pylint = "*"
nose2 = "*"
hypothesis = "*"
sphinx = "*"
sphinxcontrib-websupport = "*"
sphinx-autodoc-typehints = "*"
mypy-extensions = "*"
click = "*"
uwsgi = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
