{% extends "base/base.html" %}

{% block content %}
<div class="has-text-centered">
  <h1 class="title is-size-1">
    Internal Server Error
  </h1>
  <div class="status-code">
    <p class="is-flex">
      <span>5</span><img src="{{ url_for('base.static', filename='images/smileybones.svg') }}" alt="0" width="170" height="170" /><img src="{{ url_for('base.static', filename='images/smileybones.svg') }}" alt="0" width="170" height="170" style="margin-left: 15px" />
    </p>
  </div>
  <p class="is-size-5">
    {{ error.description|safe }}
  </p>
</div>

{% endblock content %}
