<div class="arxiv-prenav"><div class="container container-wide">
    <div class="row">
    <div class="col d-none d-sm-block">
      <p>arXiv is stewarded by Cornell Tech and <a href="{{ url_for('about') }}/membership">supported by our global community.</a></p>
    </div>
    <div class="col-md-auto" role="navigation" aria-label="User account menu">
      {% if request.session and request.session.user and request.session.user.name %}
        Welcome <span class="has-text-weight-bold">{{ request.session.user.name.forename }}</span> | <a href="{{ url_for('account') }}">My Account</a> | <a href="">My Feeds</a> | <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('account') }}/register">Create Account</a> | <a href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </div>
  </div>
</div></div>

<div class="arxiv-nav"><div class="container container-wide">
  <nav class="navbar navbar-expand-lg" aria-label="main menu">
    <div class="container-fluid px-0 px-sm-1">
      <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('base.static', filename='images/logo-arxiv.svg') }}" class="arxiv-logo" alt="arXiv logo" width="112"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
      <div class="collapse navbar-collapse arxiv-navbar-container" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('search_box') }}">
              <div class="anchor">Papers</div>
              <div class="text-note" role="presentation">Search and read everything on {{ macros.accessible_name() }} for free.</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('submit') }}">
              <div class="anchor">Submit</div>
              <div class="text-note" role="presentation">Share and archive your research.</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://labs.arxiv.org/">
              <div class="anchor">Labs</div>
              <div class="text-note" role="presentation">Partner projects that extend {{ macros.accessible_name() }}.</div>
            </a>
          </li>
        </ul>
        {{ macros.universalsearch('Search for papers', [ ['searchtype','all'] ]) }}
        <div class="arxiv-search-links"><a href="{{ url_for('help') }}">Help</a> | <a href="{{ url_for('search_advanced') }}">Advanced Search</a></div>
      </div>
    </div>
  </nav>
</div></div>
