{% extends "base/base.html" %}

{% block content %}
<h1>arXiv Style Test Page</h1>
<div class="message">
  <div class="message-body">
    <h2>Header 2</h2>
    <p>This is a message box. It is currently the default color.</p>
  </div>
</div>
<div class="message is-primary">
  <div class="message-header">
    <h3 class="is-marginless has-text-white">This Message is Header 3, marginless, white</h3>
  </div>
  <div class="message-body">
    <p>You can also change the message colors and add a header.</p>
  </div>
</div>
<h4>This is just testing header 4</h4>
<ul>
  <li>and list items</li>
  <li>just in case</li>
  <li class="help">and small type of class help</li>
</ul>
{% endblock content %}
